services:
  db:
    restart: always
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: ShoesStoreDB
    ports:
      - 5432:5432
    volumes:
      - postgresdb:/var/lib/postgresql/data
      - ./backups:/backups
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    restart: always
    build: ./backend
    ports:
      - 8080:8080
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app

  frontend:
    restart: always
    build: ./frontend
    ports:
      - 3000:3000
    environment:
      VITE_API_BASE_URL: http://localhost:8080
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

  adminer:
    restart: always
    image: adminer
    ports:
      - 8754:8080

  # Автоматические бэкапы каждый час
  pg-backup:
    image: postgres:17
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      PGPASSWORD: 1
    volumes:
      - ./backups:/backups
    entrypoint: >
      bash -c "
      while true; do
        echo '--- Running PostgreSQL backup ---';
        pg_dump -h db -U postgres ShoesStoreDB > /backups/backup-$(date +%Y-%m-%d_%H-%M-%S).sql;
        sleep 3600;
      done
      "

volumes:
  postgresdb:
